.movie-details {
  overflow-x: hidden;
  height: 100vh;
  background: radial-gradient(
    107.98% 184.08% at 39.46% 6.65%,
    #212d42 0%,
    #0e0e0e 100%
  );

  .movie-view {
    position: relative;

    .backdrop {
      background-repeat: no-repeat;
      min-height: 16em;
      background-size: cover;
      opacity: 0.6;
      z-index: 1;

      .back-arrow {
        display: inline-block;
        font-family: monospace;
        font-size: 50px;
        margin: 1%;
        color: #fff;
        cursor: pointer;
      }
    }

    .movie-info {
      display: inline-flex;
      min-width: 100%;

      .movie-poster {
        position: absolute;
        border-radius: 10%;
        z-index: 2;
      }

      .title-date {
        position: relative;
        font-family: Montserrat;

        .movie-title {
          display: inline-block;
          left: 41%;
          top: 114%;
          font-style: normal;
          font-weight: bold;
          font-size: 1.5em;
          color: #e3f4fc;
        }

        .date {
          font-size: 18px;
          color: #9fbbc7;

          .score:before {
            content: "• ";
          }
        }

        .run-time {
          font-size: 18px;
          color: #9fbbc7;
        }
      }
    }

    .movie-overview {
      margin-left: 4%;
      padding-bottom: 1%;

      span {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 25px;
        line-height: 24px;
        color: #e3f4fc;
      }

      p {
        font-family: Roboto;
        font-size: 21px;
        color: #9fbbc7;
        margin-top: 5%;
      }
    }

    hr {
      margin-left: 4%;
      margin-right: 4%;
      color: #0f303d;
    }

    @media screen and (max-width: 651px) {
      .movie-poster {
        max-width: 40%;
        top: 26%;
        left: 3%;
      }

      .title-date {
        left: 46%;
        margin-top: 2%;
        width: 50%;
      }

      .movie-overview {
        margin-top: 8%;
      }

      hr {
        margin-top: 10%;
        border-color: #5d8696;
      }
    }

    @media screen and (min-width: 916px) {
      .movie-poster {
        width: 150px;
        left: 18%;
        top: 30%;
      }

      .movie-info {
        padding: 0 10%;

        .title-date {
          margin-top: 2%;
          margin-left: 22%;
        }

        .date {
          margin-top: 6%;
        }
      }

      .movie-overview {
        margin: 2% 18%;

        p {
          margin-top: 2%;
        }
      }

      hr {
        margin: 3% 18%;
        border-color: #5d8696;
      }
    }
  }
}
